In [9]:
import pandas as pd
import datetime 
from google.cloud import bigquery

from pyspark.sql.functions import *
from pyspark.sql.functions import col,udf,array
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vectors, VectorUDT

from pyspark.sql.functions import col,udf,array
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vectors, VectorUDT

In [10]:
import datetime;print(datetime.datetime.now())

2018-02-14 12:42:07.810869

In [11]:
# Exporting BQ Tables to Google Storage

bigquery_client = bigquery.Client()
dataset_ref = bigquery_client.dataset("tom") # DATASET OF BQ
table_ref = dataset_ref.table("Yocuda_clean_data_Nov15_Nov17_20171214_v01") # TABLE NAME OF BQ


job = bigquery_client.extract_table(table_ref, 'gs://westfield-tom/datalab/Yocuda_clean_data_Nov15_Nov17_20171214_v01_*.csv') # GOOGLE CLOUD BUCKET
print(datetime.datetime.now())

In [ ]:
print(datetime.datetime.now())

In [12]:
#Importing 

data = (spark.read.format("csv")
      .option("header", "true")
      .load('gs://westfield-tom/datalab/Yocuda_clean_data_Nov15_Nov17_20171214_v01_*.csv'))
print(datetime.datetime.now())

In [13]:
print(datetime.datetime.now())

2018-02-14 12:42:20.636512

In [14]:
# Overall
from pyspark.sql.functions import *

overall = data.filter((to_date(col("timestamp"))>'2016-11-30') & (to_date(col("timestamp"))<'2017-12-01') & (col("retailer_name")=='Argos')).select("identifier").distinct()
overall.show(5)
overall.count()
print(datetime.datetime.now())

+--------------------+
|          identifier|
+--------------------+
|pumbatum31@gmail.com|
|gemma.cleave@gmai...|
|aprilbowles@live....|
|martin.pallot@pir...|
|rachel@hotmail.co.uk|
+--------------------+
only showing top 5 rows

In [15]:
print(datetime.datetime.now())

2018-02-14 12:43:26.173739

In [16]:
# Brand

df1 = data.filter((to_date(col("timestamp"))>'2016-11-30') & \
                  (to_date(col("timestamp"))<'2017-12-01') & \
                  (col("brandName").isNotNull()) & \
                  (col("identifier").isNotNull()) & \
                  (col("item_total")>0) & \
                  (col("retailer_name")=='Argos'))\
.groupBy("identifier","brandName").agg(sum("item_total").alias("spend"))


df2 = data.filter((to_date(col("timestamp"))>'2016-11-30') & \
                  (to_date(col("timestamp"))<'2017-12-01') & \
                  (col("brandName").isNotNull()) & \
                  (col("identifier").isNotNull()) & \
                  (col("item_total")>0) & \
                  (col("retailer_name")=='Argos'))\
.groupBy("identifier").agg(sum("item_total").alias("spend_overall"))

df3 = df1.join(df2,["identifier"],"left")

brand = df3.withColumn('entropy', -(col('spend')/ col('spend_overall'))*log10(col('spend')/col('spend_overall')))\
.groupBy(col("identifier")).agg(sum("entropy").alias("brand_diversity"))

brand.show(5)
brand.count()
print(datetime.datetime.now())

+--------------------+--------------------+
|          identifier|     brand_diversity|
+--------------------+--------------------+
|   -.tmh24@gmail.com|                 0.0|
|-indiaismial78672...|-0.13494920397216753|
|.j.douglas@hotmai...|                 0.0|
|    00673@uk.mcd.com|                 0.0|
|00blackswan7@yaho...| 0.22891523252096496|
+--------------------+--------------------+
only showing top 5 rows

11224605

In [17]:
print(datetime.datetime.now())

2018-02-14 12:47:28.502457

In [18]:
# category

df1 = data.filter((to_date(col("timestamp"))>'2016-11-30') & \
                  (to_date(col("timestamp"))<'2017-12-01') & \
                  (col("cat2").isNotNull()) & \
                  (col("identifier").isNotNull()) & \
                  (col("item_total")>0) & \
                  (col("retailer_name")=='Argos'))\
.groupBy("identifier","cat2").agg(sum("item_total").alias("spend"))


df2 = data.filter((to_date(col("timestamp"))>'2016-11-30') & \
                  (to_date(col("timestamp"))<'2017-12-01') & \
                  (col("cat2").isNotNull()) & \
                  (col("identifier").isNotNull()) & \
                  (col("item_total")>0) & \
                  (col("retailer_name")=='Argos'))\
.groupBy("identifier").agg(sum("item_total").alias("spend_overall"))

df3 = df1.join(df2,["identifier"],"left")

category = df3.withColumn('entropy', -(col('spend')/ col('spend_overall'))*log10(col('spend')/col('spend_overall')))\
.groupBy(col("identifier")).agg(sum("entropy").alias("category_diversity"))

category.show(5)
category.count()
print(datetime.datetime.now())

+--------------------+-------------------+
|          identifier| category_diversity|
+--------------------+-------------------+
|   -.tmh24@gmail.com|                0.0|
|-indiaismial78672...|  0.299594933046483|
|.j.douglas@hotmai...|                0.0|
|    00673@uk.mcd.com| 0.2863175935284513|
|00blackswan7@yaho...|0.22891523252096496|
+--------------------+-------------------+
only showing top 5 rows

11224605

In [19]:
print(datetime.datetime.now())

2018-02-14 12:51:27.587366

In [20]:
data.registerTempTable("data")

xx1 =data.selectExpr("identifier","month(timestamp) as month", "year(timestamp) as year", "item_total", "1 as ind").filter((to_date(col("timestamp"))>'2016-11-30') & \
                  (to_date(col("timestamp"))<'2017-12-01') & \
                  (col("identifier").isNotNull()) & \
                  (col("item_total")>0) & \
                  (col("retailer_name")=='Argos'))

xx2 =data.selectExpr("timestamp ", "1 as ind").filter((to_date(col("timestamp"))>'2016-11-30') & \
                  (to_date(col("timestamp"))<'2017-12-01') & \
                  (col("identifier").isNotNull()) & \
                  (col("item_total")>0) & \
                  (col("retailer_name")=='Argos'))\
.groupBy(col("ind")).agg(max("timestamp").alias("timestamp_mx"))

xx3 = xx1.join(xx2,["ind"],"left")

xx4 = xx3.selectExpr("identifier","((month(timestamp_mx) - month)+ (year(timestamp_mx)- year)) as recency", "item_total")\
.groupBy(col("identifier"),col("recency")).agg(sum("item_total").alias("spend"))


timeseries = xx4.selectExpr("identifier", "((exp((-1) * recency)) * log10(spend)) as timeseries")\
.groupBy(col("identifier")).agg(sum("timeseries").alias("timeseries"))

timeseries.show(5)
timeseries.count()
print(datetime.datetime.now())

+--------------------+--------------------+
|          identifier|          timeseries|
+--------------------+--------------------+
|terry.c.gooding@g...|   2.812892847053249|
|phil@ashburyhomes...|0.001186187727518...|
|kennedytomlin@yah...|  0.8130466839528898|
|s.downes7@ntlworl...|0.006122003711990414|
|daniel_anders1989...|   1.113609151073028|
+--------------------+--------------------+
only showing top 5 rows

12103974

In [21]:
print(datetime.datetime.now())

2018-02-14 13:00:43.276878

In [22]:
combined = overall.join(brand,["identifier"],"left").join(category,["identifier"],"left").join(timeseries,["identifier"],"left")

combined.show(5)
combined.count()
print(datetime.datetime.now())

+--------------------+-------------------+-------------------+--------------------+
|          identifier|    brand_diversity| category_diversity|          timeseries|
+--------------------+-------------------+-------------------+--------------------+
|   -.tmh24@gmail.com|                0.0|                0.0|0.002840198153859...|
|-indiaismial78672...|                0.0|  0.299594933046483|8.485499381124429E-5|
|.j.douglas@hotmai...|                0.0|                0.0|0.021535558112033094|
|    00673@uk.mcd.com|                0.0| 0.2863175935284513|2.288245512950547E-4|
|00blackswan7@yaho...|0.22891523252096496|0.22891523252096496|1.813540983064614...|
+--------------------+-------------------+-------------------+--------------------+
only showing top 5 rows

2018-02-14 13:16:03.259777

In [23]:
print(datetime.datetime.now())

2018-02-14 13:30:27.367572

In [24]:
# Importing the data and starting the process
data_new = combined

# Replacing the missing values by 0 
# Although it's not necessary as there are no missing values most of the time
data_new = data_new.fillna(0)

# Creating spark sql tables for faster extraction of the percentiles
data_new.createOrReplaceTempView('temporary_intermediate_table')

# Storing the column names in a set (ordered list of sorts)
col_names = set(data_new.columns) - {"identifier"}

# Writing queries to calculate the 99th (upper limit) and 1st (lower limit) percentile
upper_limit_query = 'SELECT ' + ', '.join(['Percentile({var_name}, 0.99) AS {var_name}'.format(var_name = i) for i in col_names]) + ' from ' 
lower_limit_query = 'SELECT ' + ', '.join(['Percentile({var_name}, 0.01) AS {var_name}'.format(var_name = i) for i in col_names]) + ' from ' 

import pandas as pd

# Saving the capping limits in two pandas DataFrames 
upper_limit = spark.sql(upper_limit_query + 'temporary_intermediate_table').toPandas()
lower_limit = spark.sql(lower_limit_query + 'temporary_intermediate_table').toPandas()

# Deciding which columns need outlier treatment (Dropping those which have 1st and 99th percentile as same)
columns_to_treat = {var_name for var_name in col_names if upper_limit.iloc[0][var_name] > lower_limit.iloc[0][var_name]}

# Writing a SQL query for outlier treatment
outlier_treated_data = spark.sql('SELECT identifier, '+ ', '.join(['IF({var_name} >= {maximum}, {maximum}, IF({var_name} <={minimum}, {minimum}, {var_name})) AS  {var_name}'.format(var_name = var_name, maximum = upper_limit.iloc[0][var_name], minimum = lower_limit.iloc[0][var_name])  for var_name in columns_to_treat]) + ' FROM ' + 'temporary_intermediate_table')

outlier_treated_data.show(5)
outlier_treated_data.count()
print(datetime.datetime.now())

+--------------------+-------------------+-------------------+--------------------+
|          identifier|    brand_diversity| category_diversity|          timeseries|
+--------------------+-------------------+-------------------+--------------------+
|   -.tmh24@gmail.com|                0.0|                0.0|0.002840198153859...|
|-indiaismial78672...|                0.0|  0.299594933046483|8.485499381124429E-5|
|.j.douglas@hotmai...|                0.0|                0.0|0.021535558112033094|
|    00673@uk.mcd.com|                0.0| 0.2863175935284513|2.288245512950547E-4|
|00blackswan7@yaho...|0.22891523252096496|0.22891523252096496|1.813540983064614...|
+--------------------+-------------------+-------------------+--------------------+
only showing top 5 rows

2018-02-14 13:58:57.988588

In [25]:
print(datetime.datetime.now())

2018-02-14 14:07:34.442299

In [26]:
(outlier_treated_data.coalesce(1).write.option("header", "true").csv("gs://westfield-tom/datalab/Loyalty_indicator/outlier_treated_data"))
print(datetime.datetime.now())

2018-02-14 14:18:35.251610

In [27]:
print(datetime.datetime.now())

2018-02-14 14:27:44.296033

In [28]:
# NORMALIZATION: TARGET is at 0th INDEX
from pyspark.sql.functions import col,udf,array
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vectors, VectorUDT

# NORMALIZATION: TARGET is at 0th INDEX
from pyspark.sql.functions import col,udf,array
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.linalg import Vectors, VectorUDT


# Defining the function to normalize the data.
def normalization_missing_value(data):
  i = 0
#   Transforming the variables as per Maximum and Minimum Value
  for cols in data.columns[1:]:
    maxs = data.agg(max(col(cols)).alias("max")).toPandas()
    mins = data.agg(min(col(cols)).alias("min")).toPandas()
    data = data.withColumn(cols,((col(cols)-mins["min"][0])/(maxs["max"][0]-mins["min"][0])))
    i = i+1
  return data
                           
final= normalization_missing_value(outlier_treated_data)
final.show(5)
print(datetime.datetime.now())

KeyboardInterrupt:

In [ ]:
print(datetime.datetime.now())

In [ ]:
################################################ Defining Target Variable ############################################

# Spend Based Model 
from pyspark.sql.window import Window
df1 = data.filter((to_date(col("timestamp"))>'2016-11-30') & \
                  (to_date(col("timestamp"))<'2017-12-01') & \
                  (col("identifier").isNotNull()) & \
                  (col("item_total")>0))\
.groupBy("identifier").agg(sum("item_total").alias("spend"))

df2 = df1.withColumn('percentile', percent_rank().over(Window.orderBy(desc('spend')))) \
.select('identifier','spend', 'percentile')

df3 = df2.withColumn("bucket", (when(col("percentile")<=0.10,"0-10").otherwise(\
      when(col('percentile')<=0.20,"10-20").otherwise(\
        when(col('percentile')<=0.30,"20-30").otherwise(\
          when(col('percentile')<=0.40,"30-40").otherwise(\
            when(col('percentile')<=0.50,"40-50").otherwise(\
              when(col('percentile')<=0.60,"50-60").otherwise(\
                when(col('percentile')<=0.70,"60-70").otherwise(\
                  when(col('percentile')<=0.80,"70-80").otherwise(\
                    when(col('percentile')<=0.90,"80-90").otherwise('90-100')))))))))))\

output = df3.groupBy("bucket").agg((sum(col("spend")).alias("spend"))\
                       ,(countDistinct(col("identifier")).alias("cnt_shp"))\
                       ,(avg(col("spend")).alias("avg_spend")))

output.show()
print(datetime.datetime.now())
######################################################################################################################

In [ ]:
print(datetime.datetime.now())

In [ ]:
################################################ Defining Target Variable ############################################

# Spend Based Model 
from pyspark.sql.window import Window
df1 = data.filter((to_date(col("timestamp"))>'2016-11-30') & \
                  (to_date(col("timestamp"))<'2017-12-01') & \
                  (col("identifier").isNotNull()) & \
                  (col("item_total")>0))\
.groupBy("identifier").agg(sum("item_total").alias("spend"))

df2 = df1.withColumn('percentile', percent_rank().over(Window.orderBy(desc('spend')))) \
.select('identifier','spend', 'percentile')

target = df2.withColumn("target",(when(col("percentile")<=0.20,1).otherwise(0)))\
                     .select('identifier','target')

final_w_target = final.join(target,["identifier"],"left").fillna(0)

final_w_target.show(5)
print(datetime.datetime.now())

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
import numpy as np

In [ ]:
print(datetime.datetime.now())

In [ ]:
from pyspark.sql.functions import col
import random
random.seed(7)
train, test = final_w_target.randomSplit([0.8, 0.2])

train.show(5)
print(datetime.datetime.now())

In [ ]:
print(datetime.datetime.now())

In [ ]:
####### Saving Test and train dataset ############

train.write.mode("overwrite").parquet("gs://westfield-tom/datalab/train_set2")
test.write.mode("overwrite").parquet("gs://westfield-tom/datalab/test_set2")
print(datetime.datetime.now())

In [ ]:
######################################################################################################################
################################################## RUN Data Proc Code ################################################
######################################################################################################################

In [ ]:
################ To Run After training the model  ##################

In [ ]:
# Coeffecients and Intercept for Logistic Regression ##

In [ ]:
print(datetime.datetime.now())

In [ ]:
from pyspark.ml.classification import *
print ('Reading Saved Model...')

lrModel = LogisticRegressionModel.read().load("gs://ds-mlengine/ujjwal/loyalty_tier/lr_model1")

# Print the coefficients and intercept for logistic regression
print ('Model Coeffecients...')
print("Coefficients: " + str(lrModel.coefficients))
print("Intercept: " + str(lrModel.intercept))

In [ ]:
print(datetime.datetime.now())

In [ ]:
print ('Reading Saved Data...')
train_predictions = sqlContext.read.parquet("gs://ds-mlengine/ujjwal/loyalty_tier/train_predictions")
print ('Sample Records...')
train_predictions.select("prediction", "features", "probability", "label").show(5)
print(datetime.datetime.now())

In [ ]:
print(datetime.datetime.now())

In [ ]:
#Confusion matrix
#Logic for getting confusion matrix and model evaluation parameters for Cross Validation Data
TP = train_predictions.filter((col("prediction") == 1) &  (col("label")==1)).count()
FP = train_predictions.filter((col("prediction") == 1) &  (col("label") == 0)).count()
TN = train_predictions.filter((col("prediction") == 0) &  (col("label") == 0)).count()
FN = train_predictions.filter((col("prediction") == 0) &  (col("label") == 1)).count()

print 'True Positive = ', TP
print 'False Negative = ', FN
print 'True Negative = ', TN
print 'False Positive = ', FP
print(datetime.datetime.now())

In [ ]:
print(datetime.datetime.now())

In [ ]:
# KS For Cross Validation
from pyspark.sql import functions as F
from pyspark.sql.window import Window
from pyspark.sql.functions import col
from pyspark.sql.functions import *
from pyspark.sql.functions import udf
from pyspark.sql.types import FloatType


outlier_treated_cv=train

split1_udf = udf(lambda value: value[0].item(), FloatType())
split2_udf = udf(lambda value: value[1].item(), FloatType())
prediction_prob = train_predictions.select(split1_udf('probability').alias('Prob_0'), split2_udf('probability').alias('Prob_1'),"label")


# Size for each bins
bin_size = float(outlier_treated_cv.count()/10)
# Total Events
total_events = float(str(outlier_treated_cv.select(sum("target")).head()).replace(")","").split("=")[1])
# Total non events
total_non_events = outlier_treated_cv.count() - float(str(outlier_treated_cv.select(sum("Target")).head()).replace(")","").split("=")[1])

# Decile Tables used for KS
x = prediction_prob.withColumn("row_number",ceil(F.row_number().over(Window.partitionBy().orderBy("prob_1"))/bin_size)).groupBy("row_number").agg(min("prob_1").alias("minimum"),max("prob_1").alias("maximum"),sum("label").alias("number_of_target"), (sum("label")/int(bin_size)).alias("perc_of_target"),(int(bin_size)-sum("label")).alias("number_of_non_target"))
x= x.filter(col("row_number")<=10).withColumn("cum_tar", sum("number_of_target").over(Window.partitionBy().orderBy("row_number"))).withColumn("cum_non_tar", sum("number_of_non_target").over(Window.partitionBy().orderBy("row_number"))).withColumn("per_dist_target",col("cum_tar")/total_events).withColumn("per_dist_non_target",col("cum_non_tar")/total_non_events).withColumn("spread",abs(col("per_dist_target")-col("per_dist_non_target")))
x.show()
print(datetime.datetime.now())